*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.footer p{
  display: block;
  color: #afafaf;
  font-size: 14px;
  margin-top: 25px;
}